In [14]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler, LabelEncoder
from imblearn.under_sampling import RandomUnderSampler
import joblib

In [8]:
data = pd.read_csv(r'E:\CoffeeCoders-EasyFundBuddy\dataset\new_loan.csv')
data.head(n=10)

,Age,AnnualIncome,CreditScore,EmploymentStatus,EducationLevel,Experience,LoanAmount,LoanDuration,MaritalStatus,NumberOfDependents,...,UtilityBillsPaymentHistory,JobTenure,NetWorth,BaseInterestRate,InterestRate,MonthlyLoanPayment,TotalDebtToIncomeRatio,LoanApproved,RiskScore,nmi_emi_Ratio
0,37,44000,539,employed,high school,13,28714,60,married,3,...,0.946450,8,301790,0.264214,0.244174,833.014273,0.351822,0,46.0,0.227186
1,50,22787,627,employed,high school,25,20061,60,married,0,...,0.799385,8,2918,0.211561,0.187447,517.579630,0.445296,0,51.0,0.272566
2,48,15248,515,employed,high school,27,19403,36,married,0,...,0.887381,4,5376,0.246903,0.205161,726.197838,0.738351,0,57.0,0.571509
3,40,81906,456,employed,high school,18,78598,36,married,0,...,0.825630,4,60459,0.335598,0.355746,3581.071272,0.590150,0,54.0,0.524661
4,31,33605,558,employed,high school,9,26551,36,married,5,...,0.757579,8,448172,0.232551,0.206345,995.334603,0.501831,0,47.0,0.355424
5,26,96075,581,employed,high school,4,38708,36,married,1,...,0.693569,6,31084,0.233208,0.235104,1508.693352,0.300852,0,57.0,0.188439
6,38,49493,639,employed,high school,18,31671,72,married,1,...,0.713055,3,214962,0.227171,0.211416,779.711870,0.292093,0,51.0,0.189048
7,37,18182,583,employed,high school,18,21201,72,married,2,...,0.675029,6,4572,0.244701,0.265880,591.925874,0.761583,0,60.0,0.390667
8,52,70016,574,employed,high school,30,20323,120,married,2,...,0.639601,8,32725,0.288323,0.286620,515.776625,0.162782,0,49.0,0.088399
9,48,70326,635,employed,high school,29,9182,24,married,2,...,0.456379,3,4613,0.166682,0.200018,467.333513,0.216250,0,53.0,0.079743

# PreProcessing Starts

In [9]:
data = data.drop(['nmi_emi_Ratio'], axis=1)

# Handle Dataset Imbalance

# Separate features and target
X = data.drop('LoanApproved', axis=1)  # replace 'target_column' with the actual target column name
y = data['LoanApproved']


# Apply RandomUnderSampler
rus = RandomUnderSampler(random_state=4)
X, y = rus.fit_resample(X, y)

# Add the target column back to the DataFrame
X['LoanApproved'] = y

X.to_csv(r'dataset/preprocessed_loan.csv', index=False)

In [10]:
df = pd.read_csv(r'dataset/preprocessed_loan.csv')

# Encoding categorical data
label_encoders = {}
for col in data.select_dtypes(include=['object']).columns:
    label_encoders[col] = LabelEncoder()
    data[col] = label_encoders[col].fit_transform(data[col])

In [15]:
# save the label encoders for future use
joblib.dump(label_encoders, 'label_encoders.joblib')

['label_encoders.joblib']

In [11]:
# Separate features and target and remove unwanted columns
X = data.drop(['LoanApproved', 'RiskScore', 'TotalAssets', 'TotalLiabilities'], axis=1)
y = data['LoanApproved']

In [12]:
# Standardize the data
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)